/* GENERAL */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: grey;
}

h1 {
	height: 5vh;
	margin-top: 3vh;
	margin-bottom: 2vh;
	text-align: center;
}

main {
	margin: 0 auto;
}

.bordered {
	border: 1px solid black;
}
.error {
	display: none;
	color: darkred;
	transition: all 0.5s;/* FIXME: transition doesn't work! */
}

/* CONFIG FORM */
main form {
	margin: 5vh auto;
}
main form div {
	border-bottom: 1px solid black;
	margin-bottom: 1.5vh;
	padding-bottom: 2px;
}
main form div h2 {
	margin-bottom: 1vh;
}
main form label {
	margin-right: 0.5vw;
}
main form div input[type=checkbox] {
	outline: none;
}

/* BOARD */
#board {
	border: 3px solid black;
	margin-bottom: 10vh;
}
#stepCounter {
	display: none;
}
.field {
	background-color: white;
	border-color: black;
	border-style: solid;
	transition: all 0.5s;

	/* DO NOT CHANGE THOSE */
	float: left;
	border-width: 5px;
}
.active {
	background-color: darkred;
}
.solution {
	border-color: goldenrod;
}

/* DEVICE SPECIFIC */
/* NOTE: main's width mustn't be lesser than board's width */
@media(max-width: 600px) {
	main {
		margin-right: 3vw;
		margin-left: 2vw;
	}
}
/*
TODO: welp, make it look good enough in landscape mode
@media(max-height: 600px) and (orientation: landscape) {
	main {
		width: 100vh;
		margin-right: 2vw;
		margin-left: 2vw;
	}
}
*/
@media(min-width: 601px) and (min-height: 601px) {
	main {
		width: 600px;
		height: 90vh;
		margin: 0 auto;
	}
	main form {
		width: 600px;
	}
}

